extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
  +alert-error(5000, messages)

  h1(class="mb-4") Thêm sản phẩm 

  form(
    action=`${prefixAdmin}/product/create/`
    id="form-edit-product"
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        class="form-control"
        id="title"
        name="title"
        type="text"
        placeholder="Nhập tiêu đề sản phẩm"
        required
      )
    div(class="form-group")
      label(for="product_category_id") Danh mục 
      select(
        name="product_category_id"
        id="product_category_id"
        class="form-control"
      )   
        option(value="") -- Chọn danh mục --
        if(category)
          +select-tree(category)
    div(class="form-group")
      label(for="description") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="description"
        name="description"
        rows="5"
        placeholder="Nhập mô tả sản phẩm"
      )
    div(class="form-group")
      label(for="price") Giá
      input(
        class="form-control"
        id="price"
        name="price"
        type="number"
        placeholder="Nhập giá sản phẩm"
        value="0"
      )
    div(class="form-group")
      label(for="discount") Giảm giá 
      input(
        class="form-control"
        id="discount"
        name="discountPercentage"
        type="number"
        placeholder="Nhập giảm giá sản phẩm"
        value="0"
      )
    div(class="form-group")
      label(for="stock") Số lượng tồn kho
      input(
        class="form-control"
        id="stock"
        name="stock"
        type="number"
        placeholder="Nhập số lượng tồn kho sản phẩm"
        min="0"
        value="0"
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Hình ảnh
      br
      input(
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        type="file"
        accept="image/*"
        upload-image-input
      )
      br
      img(
        src=""
        upload-image-preview
        class="image-preview"
      )
    div(class="form-group")
      label(for="position") Vị trí
      input(
        class="form-control"
        id="position"
        name="position"
        type="number"
        placeholder="Nhập vị trí sản phẩm"
        min="1"
      ) 
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInactive"
        name="status"
        value="inactive"
      )
      label(for="statusInactive" class="form-check-label") Ngừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Thêm sản phẩm

  script(src="/admin/js/product.js")